<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/public.css" media="all"/>

    <script src="/js/base.js" charset="utf-8"></script>
    <script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
</head>
<body>
<div style="padding:20px 50px 0 50px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">原始密码</label>
            <div class="layui-input-block">
                <input type="password" name="oldPwd" id="managerName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" name="newPwd" id="managerAccount" autocomplete="off" class="layui-input"
                       lay-verify="managerPasswrod">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="confirmNewPwd" id="managerPassword" autocomplete="off"
                       class="layui-input" lay-verify="managerPassword">
            </div>
        </div>
        <div style="text-align:center;padding: 40px;">
            <button class="layui-btn layui-btn-lg layui-btn-primary" onclick="closePage()">取消</button>
            <button class="layui-btn layui-btn-lg layui-btn-normal" style="margin-left: 120px"  lay-submit="" lay-filter="changePwd">修改
            </button>
        </div>
    </form>
</div>
<script>
    var form;
    layui.use(['form'], function () {
        form = layui.form;
        //自定义验证规则
        form.verify({
            managerPasswrod: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
        });
        form.on('submit(changePwd)', function(data){
            http({
                url: "/manager/change-password",
                method: "post",
                data: JSON.stringify(data.field),
                contentType: "application/json",
                dataType: "json"
            }, function (res) {
                showSuccess(res.message, function () {
                    window.location = "/logout";
                });
            }, function (res) {
                showError(res.message)
            },true,true);
            return false;
        });
    });
</script>
</body>

</html>