<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>字典管理</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/public.css" media="all"/>
    <!--[if lt IE 9]> -->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<div class="container layuimini-container">
    <div class="layuimini-main">
        <div class="table-search-fieldset">
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">模块名称</label>
                            <div class="layui-input-inline">
                                <select id="modules" name="moduleName" lay-verify="required" lay-filter="groups" lay-search="">
                                    <option value="1">请选择模块名称</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">组名称</label>
                            <div class="layui-input-inline">
                                <select id="groups" name="groupName" lay-verify="required" lay-filter="groups" lay-search="">
                                    <option value="2">请选择模块名称</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">字典键</label>
                            <div class="layui-input-inline">
                                <input type="text" name="dicKey" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="layui-row">
            <button type="button" class="layui-btn layui-btn-normal" onclick="toAddManager()">新增</button>
        </div>
        <table id="dic" lay-filter="dic"></table>
    </div>
</div>
</body>

<script src="/js/base.js" charset="utf-8"></script>
<script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-sm layui-btn-primary" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
</script>
<script>
    var table;
    var form;

    layui.use(['table','form'], function () {
        table = layui.table;
        form = layui.form;

        table.render({
            elem: '#dic'
            , url: SERVER_URL + '/dic/select'
            , page: true
            , where : {
                moduleName:""
            }
            , response: {
                statusName: "status",
                statusCode: 1,
                dataName: "data"
            }
            , parseData: function (res) {
                return {
                    status: res.status,
                    data: res.data.records,
                    count: res.data.total,
                    limit: res.data.size
                }
            }
            , cols: [ [
                {title: '序号', type: "numbers", align: 'center'}
                , {field: 'moduleDescription', title: '模块名称', align: 'center'}
                , {field: 'groupDescription', title: '组名称', align: 'center'}
                , {field: 'dicKey', title: '字段键', align: 'center'}
                , {field: 'dicValue', title: '字段值', align: 'center'}
                , {field: 'description', title: '字段描述', align: 'center'}
                , {fixed: 'right', align: 'center', toolbar: '#barDemo', title: '操作'}
            ] ]
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            //执行搜索重载
            console.log(result);
            table.reload('dic', {
                page: {
                    curr: 1
                }
                , where: {
                    moduleName:result.moduleName
                }
            },'data');
            return false;
        });
    });


    function toAddManager() {
        openPage("添加字典", "/dic/to-dictionary-add", '60%', '90%');
    }


</script>
</html>