<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>字典修改</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all"/>
    <!--[if lt IE 9]> -->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<div style="padding:20px 50px 0 50px">

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">模块名称</label>
            <div class="layui-input-block">
                <select id="modules" name="moduleName" lay-verify="required" lay-filter="modules" lay-search="" disabled>
                    <option value="">请选择模块名称</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">模块键</label>
            <div class="layui-input-block">
                <input type="text" name="moduleKey" id="moduleKey" autocomplete="off"
                       class="layui-input" lay-verify="moduleKey" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">组名称</label>
            <div class="layui-input-block">
                <select id="groups" name="groupName" lay-verify="required" lay-search="" disabled>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">组键</label>
            <div class="layui-input-block">
                <input type="text" name="groupKey" id="groupKey" autocomplete="off"
                       class="layui-input"  disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">字段键</label>
            <div class="layui-input-block">
                <input type="text" name="dicKey" id="dicKey" autocomplete="off"
                       class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">值类型</label>
            <div class="layui-input-block">
                <select name="valueType" id="valueType" lay-filter="types" disabled>
                    <option value="0">字符</option>
                    <option value="1">布尔</option>
                    <option value="2">数值</option>
                    <option value="3">日期</option>
                    <option value="4">时间</option>
                    <option value="5">日期时间</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">字段值</label>
            <div class="layui-input-block"  id="dicValue">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">字段描述</label>
            <div class="layui-input-block">
                <input type="text" id="description" name="description" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div style="text-align:center;padding: 40px;">
            <button class="layui-btn layui-btn-lg layui-btn-primary" onclick="closePage()">取消</button>
            <button class="layui-btn layui-btn-lg layui-btn-normal" style="margin-left: 120px" lay-submit=""
                    lay-filter="updateDic">保存
            </button>
        </div>
    </form>
</div>
</body>

<style>
    .layui-input[disabled] {
        color: #d2d2d2 !important;
        cursor: not-allowed !important;
    }
</style>
<script src="/js/base.js" charset="utf-8"></script>
<script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>

<script>
    var form;
    var laydate;
    var $;
    layui.use(['form', 'laydate'], function () {
        form = layui.form;
        laydate = layui.laydate;
        $ = layui.jquery;

        form.on('submit(updateDic)', function (data) {
            if(data.field.valueType == '1'){
                data.field.dicValue = data.field.dicValue == 'on' ? 'true':'false';
            }
            data.field.dicId = parent.curDic.dicId;
            http({
                url: "/dic/update",
                method: "post",
                data: JSON.stringify(data.field),
                contentType: "application/json",
                dataType: "json"
            }, function (res) {
                showSuccess(res.message, function () {
                    parent.reload();
                    closePage();
                });
            }, function (res) {
                showError(res.message)
            }, true, true);
            return false;
        });

        buildModules();
        initGroup();
        initType();
        $('#dicKey').val(parent.curDic.dicKey);
        $('#valueType').val(parent.curDic.valueType);
        $('#description').val(parent.curDic.description);
        form.render();
    });


    /**
     * 动态加载全部模块并选中
     */
    function buildModules() {
        http({
            url: "/dic/all-module",
            method: "get",
            dataType: "json"
        }, function (res) {
            res.data.forEach((item) => {
                if (item.moduleKey == parent.curDic.moduleKey) {
                    $("#modules").append("<option value='" + item.moduleName + "' selected>" + item.moduleName + "</option>");
                    $("#moduleKey").val(item.moduleKey);
                } else {
                    $("#modules").append("<option value='" + item.moduleName + "'>" + item.moduleName + "</option>");
                }
            });
        }, function (res) {
            showError(res.message)
        });
    }
    /**
     * 动态加载组名称
     */
    function initGroup() {
        http({
            url: "/dic/all-group",
            method: "get",
            dataType: "json",
            data: {
                "moduleKey": parent.curDic.moduleKey
            },
        }, function (res) {
            res.data.forEach((item) => {
                if (item.groupKey == parent.curDic.groupKey) {
                    $("#groups").append("<option value='" + item.groupName + "' selected>" + item.groupName + "</option>");
                    $("#groupKey").val(item.groupKey);
                }else{
                    $("#groups").append("<option value='" + item.groupName + "'>" + item.groupName + "</option>");
                }
            });
        }, function (res) {
            showError(res.message)
        });
    }

    /**
     * 初始化字典类型
     */
    function initType(){
        var type =  parent.curDic.valueType;
        var value = parent.curDic.dicValue;

        if (type == "0") {
            $("#dicValue")
                .append("<input type='text' name='dicValue' autocomplete='off' class='layui-input' value = '"+value+"'>");
        } else if (type == "1") {
            if(value == "true"){
                $("#dicValue")
                    .append("<input id='switchInput' type='checkbox' name='dicValue' lay-skin='switch' lay-text='开启|关闭'  checked>");
            }else{
                $("#dicValue")
                    .append("<input id='switchInput' type='checkbox' name='dicValue' lay-skin='switch' lay-text='开启|关闭' >");
            }
            form.render({
                elem: '#switchInput',
                type: 'switch'
            });
        } else if (type == "2") {
            $("#dicValue")
                .append("<input type='text' name='dicValue' autocomplete='off' class='layui-input' lay-filter='number' value = '"+value+"'>");
        } else if (type == "3") {
            $("#dicValue")
                .append("<input type='text' id='dateInput' name='dicValue' autocomplete='off' class='layui-input'>");
            laydate.render({
                elem: '#dateInput',
                type: 'date',
                value: value
            });
        } else if (type == "4") {
            $("#dicValue")
                .append("<input type='text' id='dateInput' name='dicValue' autocomplete='off' class='layui-input'>");
            laydate.render({
                elem: '#dateInput',
                type: 'time',
                value: value
            });
        } else if (type == "5") {
            $("#dicValue")
                .append("<input type='text' id='dateInput' name='dicValue' autocomplete='off' class='layui-input'>");
            laydate.render({
                elem: '#dateInput',
                type: 'datetime',
                value: value
            });
        }
    }
</script>
</html>