<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加管理</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all"/>
    <!--[if lt IE 9]> -->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<div style="padding:20px 50px 0 50px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">管理名称</label>
            <div class="layui-input-block">
                <input type="text" name="managerName" id="managerName" autocomplete="off" class="layui-input"
                       lay-verify="managerName">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">管理账号</label>
            <div class="layui-input-block">
                <input type="text" name="managerAccount" id="managerAccount" autocomplete="off" class="layui-input"
                       lay-verify="managerAccount">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">管理密码</label>
            <div class="layui-input-block">
                <input type="password" name="managerPassword" id="managerPassword" autocomplete="off"
                       class="layui-input" lay-verify="managerPassword">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="checkPassword" id="checkPassword" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div style="text-align:center;padding: 40px;">
            <button class="layui-btn layui-btn-lg layui-btn-primary" onclick="closePage()">取消</button>
            <button class="layui-btn layui-btn-lg layui-btn-normal" style="margin-left: 120px"  lay-submit="" lay-filter="addManager">添加
            </button>
        </div>
    </form>
</div>
</body>
<style>
    .layui-form-item {
        height: 20% !important;
    }
</style>
<script src="/js/base.js" charset="utf-8"></script>
<script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script>
    var form;
    layui.use(['form'], function () {
        form = layui.form;
        //自定义验证规则
        form.verify({
            managerName: function (value) {
                if (value.length < 2) {
                    return '管理名称至少需要2个字符';
                }
            }
            , managerAccount: [
                /^[\S]{6,12}$/
                , '账号必须6到12位，且不能出现空格'
            ]
            , managerPasswrod: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
        });
        form.on('submit(addManager)', function(data){
            http({
                url: "/manager/add",
                method: "post",
                data: JSON.stringify(data.field),
                contentType: "application/json",
                dataType: "json"
            }, function (res) {
                showSuccess(res.message, function () {
                    parent.getData();
                    closePage();
                });
            }, function (res) {
                showError(res.message)
            },true,true);
            return false;
        });
    });
</script>
</html>