<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色更新</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all"/>
    <!--[if lt IE 9]> -->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<div style="padding:20px 50px 0 50px">

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
                <input type="text" name="roleName" id="roleName" autocomplete="off" class="layui-input"
                       lay-verify="roleName">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所有权限</label>
            <div class="layui-input-block">
                <div id="menuTree"></div>
            </div>
        </div>
        <div style="text-align:center;padding: 40px;">
            <button class="layui-btn layui-btn-lg layui-btn-primary" onclick="closePage()">取消</button>
            <button class="layui-btn layui-btn-lg layui-btn-normal" style="margin-left: 120px"  lay-submit=""
                    lay-filter="updateRole">保存
            </button>
        </div>
    </form>
</div>
</body>

<script src="/js/base.js" charset="utf-8"></script>
<script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>

<script>
    var menuTree;
    layui.use(['tree', 'util'], function () {
        menuTree = layui.tree;
        form = layui.form;
        form.verify({
            roleName: function (value) {
                if (value.trim().length <= 0) {
                    return '角色名称不能为空';
                }
            }
        });
        form.on('submit(updateRole)', function (data) {
            return updateRole();
        });
        http({
            url: "/role/select-menu"
            , method: "get"
        }, function (res) {
            var data = res.data;
            rebuildMenu(data);
            menuTree.render({
                elem: '#menuTree'
                , data: data
                , showCheckbox: true
                , id: 'menuTreeFlag'
            });
            getCheckMenuId();
        });
        $("#roleName").val(parent.roleName);
    });

    /**
     * 重新组装menu字段，对应layuitree字段
     * @param data
     */
    function rebuildMenu(data) {
        for (var i = 0; i < data.length; i++) {
            data[i].id = data[i].menuId;
            data[i].spread = true;
            if (data[i].children != null && data[i].children.length > 0) {
                rebuildMenu(data[i].children);
            }
        }
    }

    function getCheckMenuId() {
        http({
            url: "/role/select-role-menu",
            method: "get",
            data: {
                "id": parent.updateRoleId
            }
        }, function (res) {
            const checkedIds = [];
            var menus = res.data;
            for (var i = 0; i < menus.length; i++) {
                checkedIds.push(menus[i].menuId);
            }
            menuTree.setChecked('menuTreeFlag', checkedIds);
        });

    }

    /**
     * 获取组装选中的菜单
     */
    function getSelectMenuId(data, arr) {
        for (var i = 0; i < data.length; i++) {
            arr.push(data[i]);
            if (data[i].children != null && data[i].children.length > 0) {
                getSelectMenuId(data[i].children, arr);
            }
        }
    }

    /**
     * 修改角色权限
     * @returns {boolean}
     */
    function updateRole() {
        var data = menuTree.getChecked('menuTreeFlag');
        var arr = [];
        getSelectMenuId(data, arr);
        if(arr.length === 0){
            showError("角色权限不能为空");
            return false;
        }
        var role = {};
        role.roleName = $("#roleName").val();
        role.roleId = parent.updateRoleId;
        role.menus = arr;
        http({
            url: "/role/update",
            method: "post",
            data: JSON.stringify(role),
            contentType: "application/json",
            dataType: "json"
        }, function (res) {
            parent.showSuccess(res.message);
            parent.getData();
            closePage();
        }, function (res) {
            showError(res.message);
        })
    }


</script>
</html>