<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务更新</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all"/>
    <!--[if lt IE 9]> -->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<div style="padding:20px 50px 0 50px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">任务名称</label>
            <div class="layui-input-block">
                <input type="text" autocomplete="off" id="jobName" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务描述</label>
            <div class="layui-input-block">
                <input type="text" name="description" id="description" lay-verify="description"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">表达式</label>
            <div class="layui-input-block">
                <input type="text" name="cronExpression" id="cronExpression" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div style="text-align:center;padding: 40px;">
            <button class="layui-btn layui-btn-lg layui-btn-primary" onclick="closePage()">取消</button>
            <button class="layui-btn layui-btn-lg layui-btn-normal" style="margin-left: 120px" lay-submit="" lay-filter="updateTask">保存
            </button>
        </div>
    </form>
</div>
</body>

<script src="/js/base.js" charset="utf-8"></script>
<script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>

<script>
    $("#jobName").val(parent.curTask.jobName);
    $("#description").val(parent.curTask.description);
    $("#cronExpression").val(parent.curTask.cronExpression);

    var form;
    layui.use(['form'], function () {
        form = layui.form;
        //自定义验证规则
        // form.verify({
        //      description:  function (value) {
        //         if (value.trim().length < 2 || value.trim().length >10) {
        //             return '任务名称长度要在2-255个字符';
        //         }
        //     }
        // });
        form.on('submit(updateTask)', function(data){
            data.field.id = parent.curTask.id;
            http({
                url: "/task/update",
                method: "post",
                data: JSON.stringify(data.field),
                contentType: "application/json",
                dataType: "json"
            }, function (res) {
                showSuccess(res.message, function () {
                    parent.getData();
                    closePage();
                });
            }, function (res) {
                showError(res.message)
            });
            return false;
        });
    });

</script>
</html>